* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: black;
}

.brand-title {
    margin : .5rem;
    text-decoration: none;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
    margin-right: 10px;
}

.navbar-links li a:hover {
    color: #8160a7;
    transition-duration: 0.3s;
    border-radius: 30px;
}

