.tous {
    /* on fait en sorte que le footer soit en bas de page meme quand la page est vide*/
    position: relative;
    min-height: 85vh;
}

body h1 {
    /* on centre le titre */
    text-align: center;
}

div.separation {
    /* On crée un séparateur joli*/
    height: 10px;
    background-image: linear-gradient(120deg, #3498db, #8e44AD);
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
}

div.myinfo {
    /* on modifie l'emplacement de la div où on trouve les informations sud compte */
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 3%;
}

div.myinfo a {
    /* On modifie la couleur du lien */
    color: var(--purple_web);
}

div.mycourses h2 {
    /* on modifie l'emplacement du sous-titre */
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
}

.allcourses {
    /* on met un margin à la div comprenant tous les cours*/
    margin: 5%;
}

.allcourses a {
    /* on enleve les décorations des balises a présentes dans la div allcourses*/
    text-decoration: none;
    color: black;
}

.course {
    /*on met une bordure a tous les cours individuellement*/
    border: solid 5px black;
    padding: 10px;
    margin: 10px;
}

.course:hover {
    /*on met la bordure en violet lors du survol*/
    border-color: var(--purple_web);
}

a.add {
    /* On rend le bouton d'ajout joli */
    background: linear-gradient(120deg, #3498DB, #8E44AD);
    color: #fff;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    text-align: right !important;
}

a.add:hover {
    /*On fait en sorte d'avoir un effet lors du survol*/
    background: linear-gradient(120deg, #8E44AD, #3498DB);
    color: #fff;
}