body h1 {
    /* on centre le titre */
    text-align: center;
}

body {
    /* on cache ce qui dépasse pour pas avoir de mouvement dans la page */
}

div.touslescours {
    /* on fixe la largeur à 100% */
    width: 100%;
}

div a {
    /* on enlève les décorations des liens et on les met de la couleur noir du web */
    text-decoration: none;
    color: var(--black_web);
}

div a:hover {
    /* lors du survol on enleve les decoration et on met les bordure en violet du site*/
    text-decoration: none;
    color: var(--black-web);
    border-color: var(--purple_web);
}

div div.cours {
    border: solid;
    border-width: 5px;
    border-color: var(--black_web);
    margin: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

div.cours h3 {
    text-align: left;
}

div div.cours:hover {
    border-color: var(--purple_web);
}

div a div {
    color: var(--black_web);
    text-decoration: none;
    padding: 3px;
}

div.touslescours div#note {
    text-align: right;
}

div.tri {
    overflow: hidden;
}

div.tri div p {
    text-align: center;
}

div.tri div.matieres {
    text-align: center;
}