body h1 {
    /* On centre le titre de la page*/
    text-align: center;
}

div.cours {
    /* On met une bordure à tous les cours et on centre ce qui est dedans*/
    border: solid 3px black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

div.cours a {
    /* On rend les boutons de validation et de suppression joli */
    background: linear-gradient(120deg, #3498DB, #8E44AD);
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    border-radius: 8px;
    left: 50%;
}

div.cours a:hover {
    /* On met un effet lors du survol des boutons supprimer et valider cours*/
    background: linear-gradient(120deg, #8E44AD, #3498DB);
}