body {
    background: url(../images/accueil/1.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.corps{
    overflow: hidden;
}
    
.navbar-links li a {
    color: #fff !important;
}
    
.navbar-links li a:hover {
    color: #8160a7 !important;
}

.titre {
    padding-top: 10%;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #000000;
    font-size: 4rem;
}

.baseline {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 5px #000000;
    padding-bottom: 460px;
}

.div1 {
    width: 100%;
    background: url(../images/accueil/2.png);
}

.div2 {
    z-index: -3;
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;
}

.txt1 {
    color: black;
    font-family: 'proxima_novaregular';
    font-size: 3rem;
    text-align: center;
}

#invisible {
    font-family: 'proxima_novaregular';
    margin-top: 200px;
    margin-bottom: 600px;
    margin-left: 640px;
    color: transparent;
    z-index: 4;
}

#invisible2 {
    opacity: 0;
    margin-left: 3%;
}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('proximanova-regular-webfont.woff2') format('woff2'),
         url('proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}