body h1 {
    text-align: center;
}

div.touslescours {
    width: 100%;
}

div a {
    text-decoration: none;
    color: var(--black_web);
}

div a:hover {
    text-decoration: none;
    color: var(--black-web);
    border-color: var(--purple_web);
}

div div.cours {
    border: solid;
    border-width: 5px;
    border-color: var(--black_web);
    margin: 1%;
    margin-right: 5%;
    margin-left: 5%;
}

div.cours h3 {
    text-align: left;
}

div div.cours:hover {
    border-color: var(--purple_web);
}

div a div {
    color: var(--black_web);
    text-decoration: none;
    padding: 3px;
}

div.touslescours div#note {
    text-align: right;
}

div.tri div p {
    text-align: center;
}

div.tri div.matieres {
    text-align: center;
}

.logbtn {
    display: block;
    text-align: center;
    width: 130px;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #3498DB, #8E44AD, #3498DB);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: 0s;
    border-radius: 15px;
    position: relative;
    left: 50%;
    transform: translate(-65px, 0px);
}

.logbtn:hover {
    background-position: right;
    color: #fff;
    text-decoration: none;
}