#loading {
    /* On place le loader au milieu de la page en position absolute*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100px, -100px);
}

.loading {
    /* On donne une taille au loader */
    position: relative;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 50%;
    border-top: 10px solid #2d2a2c;
    animation: a1 2s linear infinite;
}

.loading::before,
.loading::after {
    content: '';
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0;
    top: -10px;
    box-sizing: border-box;
    border-radius: 50%;
}

.loading::before {
    /* On donne des effets de rotations */
    border-top: 10px solid #8E44AD;
    transform: rotate(120deg);
}

.loading::after {
    /* On donne des effets de rotations */
    border-top: 10px solid rgb(200, 75, 250);
    transform: rotate(240deg);
}

.loading span {
    position: absolute;
    width: 200px;
    height: 200px;
    color: #000000;
    text-align: center;
    line-height: 200px;
    animation: a2 2s linear infinite;
}

@keyframes a1 {
    /* on met une rotation au loader */
    to {
        transform: rotate(360deg);
    }
}

@keyframes a2 {
    /* on empeche la rotation du texte */
    to {
        transform: rotate(-360deg);
    }
}