body h1 {
    /* on centre le titre */
    text-align: center;
}

.allcourses {
    margin: 5%;
}

.allcourses a {
    text-decoration: none;
    color: black;
}

.course {
    /*on met une bordure a tous les cours individuellement*/
    border: solid 5px black;
    padding: 10px;
    margin: 10px;
}

.course:hover {
    /*on met la bordure en violet lors du survol*/
    border-color: var(--purple_web);
}

a.add {
    /* On rend le bouton d'ajout joli */
    background: linear-gradient(120deg, #3498DB, #8E44AD);
    color: #fff;
    padding: 8px;
    margin: 8px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 8px;
    text-align: right !important;
}

a.add:hover {
    /*On fait en sorte d'avoir un effet lors du survol*/
    background: linear-gradient(120deg, #8E44AD, #3498DB);
    color: #fff;
}